<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Gerenciador de Tarefas</title>
</head>

<body>
  <h1>Loading...</h1>

  <ul>
    <li>contato 1</li>
    <li>contato 2 </li>
    <li>contato 3</li>

  </ul>

  <a href="/adicionar-novo-contato">Novo Contato</a>
</body>

</html>